
/* Universal Properties */

body {
  background-color: #FFF;
  margin: 0 auto;
}

header {
  background-color: #000;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav {
  margin: 30px auto;
  padding: 0 20px;
  text-align: left;
  display: inline-block;
  float: left;
  width: 30%;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  display: inline-block;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  margin: 0 10px;
}

li:hover {
  color: #DBE9EE;
}

h1 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 20px auto;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}

p {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 80px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: orange;
}


/* ID's */

#navSocial{
  float: right;
  width: 30%;
  text-align: right;
}

#titleName {
  margin: 0 auto;
  padding: 0 50px;
  text-align: center;
  display: inline-block;
  width: 30%;
}


/* Classes */

.display {
  margin: 0 auto;
}

.displayImg {
  max-width: 45%;
}