

/* General CSS */

body {
  background-color: #FFF;
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: #000;
  border-bottom: 1px solid #466995;
  position: static;
  width: 100%;
  z-index: 10;
}

nav {
  margin: 30px auto;
  padding: 0 20px;
  text-align: left;
  display: inline-block;
  float: left;
  width: 30%;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  display: inline-block;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  margin: 0 10px;
}

li:hover {
  color: #DBE9EE;
}

h1 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: orange;
}


/* ID's */

#navSocial{
  float: right;
  width: 30%;
  text-align: right;
}

#titleName {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 30%;
}

#center {
  justify-content: center;
}


/* Classes */

.container {
  width: 100%;
  display: flex;
  background-color: whitesmoke;
  overflow: hidden;
}

.box {
  display: inline-block;
  max-height: 40em;
}